
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  padding: 2rem 5rem;
}

h1 {
  margin-bottom: 2rem;
}

.route-container {
  display: flex;
  flex-direction: column;
}

.route-holder {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4rem;
  margin-bottom: 2rem;
}

.route-holder a {
  background-color: #80e5ff;
  padding: 1rem;
  color: #222;
  letter-spacing: 0.1rem;
  width: 45%;
  box-sizing: border-box;
}

.params {
  background-color: #4ddbff;
  color: #333;
  padding: 1rem;
  font-size: 1.2rem;
  width: 30%;
  box-sizing: border-box;
}

.params span {
  color: #FFF;
}

.params .required {
  color: #ff6666;
}

.return {
  background-color: #80e5ff;
  color: #222;
  padding: 1rem;
  font-size: 1.2rem;
  margin-left: auto;
  width: 25%;
  box-sizing: border-box;
}

.description {
  width: 100%;
  padding: 2rem 1rem;
  font-size: 1.2rem;
  background-color: #1ad1ff;
  border-top: 1px solid #000;
}

.description .required {
  color: #ff6666;
}

.description .optional {
  color: #FFF;
}
